

.main-login-div{
   
    display: flex;
    justify-content: center;
    
}

.icon{
    margin-top: 5px;
}

.login-button-div{
    padding-bottom: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: center
}

.sub-login-div{
    background-color: #c5dafc;
    width: 30%;
    display: flex;
    justify-content: center;
    border-radius: 15px 50px;
    box-shadow:10px 10px 10px black, -1em 0 0.4em black;
    text-align: center;
    line-height: 30px;
}

.img-out-div{
    width: 30%;
    
}

.register-link-div{
    margin-top: 50px;
}

.userimage,.pwdimage{
    height: 25px;
    width: 25px;
}

.userwrapper, .pwdwrapper{
    display: flex;
}

.userinput{
    height: 20px;
    width: 200px;
}

.loginbutton{
    background-color: #8cbbfc;
    color: black;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.login-username-pwd-div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}

a{
    color: blue;
}