body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/658/973/original/abstract-background-illustration-wallpaper-with-blue-light-color-blue-grid-mosaic-background-creative-design-templates-free-vector.jpg");
    background-size: cover;
    /* background-color: white; */
}



.main-about-div{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.saying-img{
    width: 700px;
    height: 300px;
}

.about-div{
    border: solid black;
    background-color:#c5dafc;
    display: flex;
    justify-content: center;
    border-radius: 15px 50px;
    width: 700px;
    height: 300px;
    box-shadow:10px 10px 10px black, -1em 0 0.4em black;
}