body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/658/973/original/abstract-background-illustration-wallpaper-with-blue-light-color-blue-grid-mosaic-background-creative-design-templates-free-vector.jpg");
    background-size: cover;
    /* background-color: white; */
}

.heading-say{
    font-family: cursive;
}

.logo-img{
    height: 500px;
    width: 800px;
}

.main-about-div{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.saying-img{
    width: 700px;
    height: 300px;
}

.img-div{
    position: relative;
}

.text-div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(119, 186, 245);
    border-radius: 20px;
    position: absolute;
    z-index: 10;
    width: 50%;
    margin-left: 50%;
    margin-top: 20%;
    margin-right: 10%;
}

.about-div{

    display: flex;
    justify-content: center;
    border-radius: 15px 50px;
    width: 700px;
    height: 300px;
}