.main-screen-div{
    height: 100%;
    display: grid;
    grid-template-columns: 1.6fr 3.5fr 3fr;
    grid-template-rows: 1fr;
    background-color: var(--white);
    border-radius: 2vmin;
}

.profile-img{
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.menu-div{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
}

.profile{
    display: flex;
    justify-content: center;
}

aside{
    border: solid black;
    border-radius: 15px;
    box-shadow:10px 10px 10px black, -1em 0 0.4em black;
    margin: 2rem 2rem 2rem 2rem;
    height: 90vh;
    width: 15vw;
}

.logout-div{
    margin-top: 15rem;
}

section{
    border: solid black;
    width: 75vw;
    margin: 2rem 2rem 2rem 2rem;
    border-radius: 15px;
    box-shadow:10px 10px 10px black, -1em 0 0.4em black;
}